<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.mortbay.log" level="WARN"/>
    <logger name="com.objectica.bbot.rumblepad" level="INFO"/>
    <logger name="com.objectica.bbot.engine.service.impl.RxTxDeviceHandler" level="WARN"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>